*

!**/

!*.py
!*.toml
!*.md
!*.yaml
!*.cpp
!*.jinja2

!.gitignore
!.python-version

/data
/logs

!data/test/*
!docs/*.png

.venv
.trunk
.cache

.ipynb_checkpoints/**/ */

pipe_out
*.egg-info
todo.md
